{:blocks (
{:block/content "public:: true"
:block/format :markdown
:block/left 
{:block/uuid #uuid "1c9b6c4d-d1ff-4529-9725-bf960b9e453e"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{:public true}
:block/uuid #uuid "e7621a5d-2884-4e47-b007-37975dda43c1"} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 8
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "8b61e032-8003-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill true
:point [1248 704]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [1 1]}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755941316022
:italic false}}
:block/updated-at 1755959195635} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 18
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "e85f87a0-8027-11f0-ab12-699c99425f06"
:fontWeight 400
:noFill true
:point [1486.9 625]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "e85f87a1-8027-11f0-ab12-699c99425f06"}
:end 
{:id "end"
:canBind true
:point [252.68 139]
:bindingId "0da2ddf0-8028-11f0-ab12-699c99425f06"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755956934042
:italic false}}
:block/updated-at 1755959195635} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 7
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "67b9b260-7ffa-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill true
:point [1184 372]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 75]
:bindingId "67b9b261-7ffa-11f0-89b2-f386285e5a78"}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId "67b9d970-7ffa-11f0-89b2-f386285e5a78"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755937390760
:italic false}}
:block/updated-at 1755959195635} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "e7621a5d-2884-4e47-b007-37975dda43c1"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a9a12a-47a2-4dff-9926-e06fa647f1c9"} 
{:block/created-at 1755959195681
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 17
:scale [1 1]
:pageId "Enemy"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 288.5310522293234]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "e183da80-8027-11f0-ab12-699c99425f06"
:noFill false
:point [1536 768]
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:collapsedHeight 0
:nonce 1755956922471}}
:block/updated-at 1755959195681} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 15
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "83316e22-8027-11f0-ab12-699c99425f06"
:fontWeight 400
:noFill true
:point [1569 28.11]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "848a4761-8027-11f0-ab12-699c99425f06"}
:end 
{:id "end"
:canBind true
:point [107 24.89]
:bindingId "8633ffc1-8027-11f0-ab12-699c99425f06"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755956764344
:italic false}}
:block/updated-at 1755959195635} 
{:block/collapsed? true
:block/content "[[Character]]"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a9a12a-47a2-4dff-9926-e06fa647f1c9"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a9777b-0e51-4091-924e-6de984818dea"} 
{:block/created-at 1755959195636
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "bb20ab30-7ff9-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill true
:point [911.06 481]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [232.94 0]
:bindingId "bb20ab31-7ff9-11f0-89b2-f386285e5a78"}
:end 
{:id "end"
:canBind true
:point [0 99]
:bindingId "bb20ab32-7ff9-11f0-89b2-f386285e5a78"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755937101177
:italic false}}
:block/updated-at 1755959195636} 
{:block/content "{{embed [[Action Types]]}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a98a3f-bdc2-4651-8bf1-bdd64ef1a940"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a98a61-4a34-45a8-99f6-e69d59819429"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a9c5af-e7be-40f1-8b32-61886180188f"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/uuid #uuid "68a9c6b9-ef59-436b-b9f1-d8531aabc43a"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a9c529-916c-44fd-80e0-cf1d923ce050"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a9c5af-e7be-40f1-8b32-61886180188f"} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "d4f585d0-7ff9-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill true
:point [484.78 617]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [362.64 0]
:bindingId "d4f585d1-7ff9-11f0-89b2-f386285e5a78"}
:end 
{:id "end"
:canBind true
:point [0 147]
:bindingId "090cb401-8028-11f0-ab12-699c99425f06"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755937144774
:italic false}}
:block/updated-at 1755959195635} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a98a61-4a34-45a8-99f6-e69d59819429"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/uuid #uuid "68a9a86a-d6b2-4982-9d86-e1a9bc4c0363"} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 2
:scale [1 1]
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "9f8616a0-7ff7-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill true
:point [1216.11 481]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "9f8616a1-7ff7-11f0-89b2-f386285e5a78"}
:end 
{:id "end"
:canBind true
:point [202.11 107]
:bindingId "9f863db0-7ff7-11f0-89b2-f386285e5a78"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755936229210
:italic false}}
:block/updated-at 1755959195635} 
{:block/content "Content"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a9a86d-38de-4186-80a2-498c421ee9f0"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/uuid #uuid "68a9c529-916c-44fd-80e0-cf1d923ce050"} 
{:block/content "{{embed [[Action Execution]]}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a97fc1-1fdc-4c31-9c11-e248628c997d"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a98596-898a-49de-8c4b-39a7b7a4909f"} 
{:block/created-at 1755959195636
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 11
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "ddbf84b2-8015-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill true
:point [1736 -16]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [1 1]}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755949185149
:italic false}}
:block/updated-at 1755959195636} 
{:block/created-at 1755959195636
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 9
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "6ab08330-8005-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill true
:point [548 341.17]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [539 13.52]
:bindingId "7026fb01-8005-11f0-89b2-f386285e5a78"}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId "19bcdbe1-8028-11f0-ab12-699c99425f06"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755942120499
:italic false}}
:block/updated-at 1755959195636} 
{:block/created-at 1755959195636
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 12
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "8c4d78b2-8003-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill true
:point [1184.01 481]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "90bba841-8003-11f0-89b2-f386285e5a78"}
:end 
{:id "end"
:canBind true
:point [2.69 283]
:bindingId "01b8c9a1-8028-11f0-ab12-699c99425f06"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755941318193
:italic false}}
:block/updated-at 1755959195636} 
{:block/created-at 1755959195636
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 14
:scale [1 1]
:pageId "Actions"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [736 561.5312482499713]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "476a8b10-8027-11f0-ab12-699c99425f06"
:noFill false
:point [832 -232]
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:collapsedHeight 0
:nonce 1755956664282}}
:block/updated-at 1755959195636} 
{:block/created-at 1755959195663
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 16
:scale [1 1]
:pageId "Entity Role"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [576 673.0188010038238]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a4c0bd20-8027-11f0-ab12-699c99425f06"
:noFill false
:point [896 768]
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:collapsedHeight 0
:nonce 1755956820710}}
:block/updated-at 1755959195663} 
{:block/created-at 1755959195714
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 20
:scale [1 1]
:pageId "Action Types"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 649.0563991446223]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "135acb90-8028-11f0-ab12-699c99425f06"
:noFill false
:point [144 40]
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:collapsedHeight 0
:nonce 1755957006128}}
:block/updated-at 1755959195714} 
{:block/content "{{embed [[entity role]]}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a9777b-0e51-4091-924e-6de984818dea"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a97fc1-1fdc-4c31-9c11-e248628c997d"} 
{:block/created-at 1755959195636
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 3
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [192 32]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Character"
:id "bb208420-7ff9-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill false
:point [768 584]
:fontSize 20
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755937101230
:italic false}}
:block/updated-at 1755959195636} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 10
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "700b36a0-7ffa-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill true
:point [1172.94 288.4]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [11.06 46.6]
:bindingId "700b0f90-7ffa-11f0-89b2-f386285e5a78"}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId "4da78731-8027-11f0-ab12-699c99425f06"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755937405404
:italic false}}
:block/updated-at 1755959195635} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 0
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [192 32]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Entity"
:id "7c7a12b0-7ff7-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill false
:point [1088 448]
:fontSize 20
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755936137223
:italic false}}
:block/updated-at 1755959195635} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 13
:scale [1 1]
:pageId "Equipment"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [584 803.2749779052256]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "0307ad40-8027-11f0-ab12-699c99425f06"
:noFill false
:point [1680 -336]
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:collapsedHeight 0
:nonce 1755956549464}}
:block/updated-at 1755959195635} 
{:block/content "{{embed [[Equipment]]}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a9a86a-d6b2-4982-9d86-e1a9bc4c0363"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a9a86d-38de-4186-80a2-498c421ee9f0"} 
{:block/created-at 1755959195694
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 19
:scale [1 1]
:pageId "Character"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [736 575.8187539949769]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f43a80c0-8027-11f0-ab12-699c99425f06"
:noFill false
:point [96 768]
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:collapsedHeight 0
:nonce 1755956953998}}
:block/updated-at 1755959195694} 
{:block/created-at 1755959195636
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 22
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "4ea049a0-8028-11f0-ab12-699c99425f06"
:fontWeight 400
:noFill true
:point [1133.19 -286.2]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 53.2]
:bindingId "559c9e21-8028-11f0-ab12-699c99425f06"}
:end 
{:id "end"
:canBind true
:point [47.19 0]
:bindingId "59d14721-8028-11f0-ab12-699c99425f06"}}
:decorations 
{:end "arrow"}
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755957105960
:italic false}}
:block/updated-at 1755959195636} 
{:block/content "{{embed [[Action Types]]}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a9871a-74a7-4d3b-a888-a16e864f96b4"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a98a3f-bdc2-4651-8bf1-bdd64ef1a940"} 
{:block/content "[[Enemy]]"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a98596-898a-49de-8c4b-39a7b7a4909f"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a9860c-98a1-4963-9140-01c2bdfecf7c"} 
{:block/created-at 1755959195732
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 21
:scale [1 1]
:pageId "Action Execution"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [800 794.9312983821299]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "29c970c0-8028-11f0-ab12-699c99425f06"
:noFill false
:point [784 -1040]
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:collapsedHeight 0
:nonce 1755957043882}}
:block/updated-at 1755959195732} 
{:block/created-at 1755959195612
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 6
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [192 32]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Actions"
:id "67b96440-7ffa-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill false
:point [1088 336]
:fontSize 20
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755937390836
:italic false}}
:block/updated-at 1755959195612} 
{:block/content "{{embed [[entity role]]}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a9860c-98a1-4963-9140-01c2bdfecf7c"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{}
:block/uuid #uuid "68a9871a-74a7-4d3b-a888-a16e864f96b4"} 
{:block/created-at 1755959195635
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:rotation 0
:borderRadius 2
:index 1
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "box"
:size [192 32]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "Enemy"
:id "9f85ef90-7ff7-11f0-89b2-f386285e5a78"
:fontWeight 400
:noFill false
:point [1360 592]
:fontSize 20
:parentId "68a96f8a-4bfc-45fe-94e3-46b5a2a967b2"
:nonce 1755936196118
:italic false}}
:block/updated-at 1755959195635} 
{:block/content "public:: true"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/parent 
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"}
:block/properties 
{:public true}
:block/uuid #uuid "1c9b6c4d-d1ff-4529-9725-bf960b9e453e"})
:pages (
{:block/uuid #uuid "68a9cf42-f6d3-4ba0-9787-8e5c5430d2f3"
:block/properties 
{:public true}
:block/journal? false
:block/updated-at 1755959195732
:block/created-at 1755934602697
:block/type "whiteboard"
:block/name "clash of code"
:block/original-name "Clash of Code"})}