[submodule "cpp-tree-sitter"]
  url = https://github.com/NexushasTaken/cpp-tree-sitter.git
  path = src/deps/cpp-tree-sitter

[submodule "tree-sitter"]
  url = https://github.com/tree-sitter/tree-sitter.git
  path = src/deps/tree-sitter
