[submodule "cpp-tree-sitter"]
  path = ./src/deps/cpp-tree-sitter
  url = https://github.com/nsumner/cpp-tree-sitter

[submodule "tree-sitter"]
  path = ./src/deps/tree-sitter
  url = https://github.com/tree-sitter/tree-sitter.git

[submodule "wren"]
  path = ./src/deps/wren
  url = https://github.com/wren-lang/wren
